<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>首页</title>
        <link rel="stylesheet" href="css/house.css">
    </head>
    <body>
        <div id="pie" class="chart"></div>
        <div id="bar" class="chart"></div>
        <div id="line" class="chart"></div>
        <!-- echarts  -->
        <script src="/js/lib/jquery.min.js"></script>
        <script src="/js/lib/lodash.min.js"></script>
        <script src="/js/lib/echarts.min.js"></script>
        <!-- 获取数据 -->
        <script src="js/api.js"></script>
        <!--  echarts 渲染 -->
        <script src="js/house.js"></script>
    </body>
</html>
